
# ============================================================
# LOCAL DEVELOPMENT
# ============================================================

APP_ENV=development

API_BASE_URL=http://127.0.0.1:4000
SOCKET_BASE_URL=http://127.0.0.1:4000


# ============================================================
# PRODUCTION
# ============================================================

# APP_ENV=production
# API_BASE_URL=https://chat-app-backend-2s97.onrender.com
# SOCKET_BASE_URL=https://chat-app-backend-2s97.onrender.com